server {
    listen 80;
    server_name tracker.powerupwithpride.org;

    location = /favicon.ico {
        return 204;
        access_log off;
        log_not_found off;
    }

    location /static {
        # Put your path to Django collected statis files here.
        alias /home/puwp/puwp_donations/static;
        add_header Cache-Control 'no-cache';
    }

    location / {
        # Use same path for Unix socket from the uwsgi .ini file.
        include uwsgi_params;
        uwsgi_pass unix:/run/uwsgi/puwp_donations.sock;
    }
}
