server {
    listen 80;
    server_name submissions.powerupwithpride.org;

    location = /favicon.ico {
        return 204;
        access_log off;
        log_not_found off;
    }

    location / {
        include proxy_params;
        # Use IP address instead of localhost to avoid IPv6 errors in the logs.
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_cache_bypass $http_upgrade;
    }
}
