server {
    # This listens only on localhost because it gets called on publish to the RTMP server by the server itself.
    listen 8080;
    server_name localhost;

    # Set your root folder to where you placed the "auth_live.php" file.
    root /var/www/html;

    # Simple config to run PHP scripts using the standard fastcgi module with Ubuntu's fastcgi snippet.
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
    }
}
