rtmp {
    server {
        listen 1935;
        chunk_size 4096;

        # Runners stream to this path with any stream key you want.
        # ex. URL: rtmp://yourserver.com/runners; stream key: our-marathon-1
        application runners {
            live on;
            record off;
        }

        # Restreamer streams to this path with a secret stream key you generate.
        # ex. URL: rtmp://yourserver.com/live; stream key: SECRET
        application live {
            live on;
            record off;
            on_publish http://localhost:8080/auth;

            # Don't allow anyone to play from this path directly, as it exposes the stream key.
            deny play all;

            # Add your Twitch stream key here to forward the live stream to Twitch!
            # Current hostname is the New York ingest server.  Pick a better one for your location if desired.
            push rtmp://live-jfk.twitch.tv/app/YOUR_TWITCH_STREAM_KEY;

            # Push the restream to the restream app with a fixed stream key so the commentators can watch it from a
            # fixed path that doesn't accidentally reveal the stream key the restreamer is using.
            push rtmp://localhost/restream/live;
        }

        # Commentators can consume from this path on the restream viewing webpage.
        application restream {
            live on;
            record off;
        }
    }
}
