server {
    listen 8080;
    server_name localhost;

    location /auth {
        # Validates the stream key the restreamer is using.  This is provided to this path in the "on_publish" event on
        # the RTMP part, and the stream key field is passed as "name".
        # NOTE: THIS IS NOT YOUR TWITCH STREAM KEY!  Use a different random key you generate yourself!
        if ($arg_name != "YOUR_SECRET_STREAM_KEY") {
            return 403;
        }
        return 200;
    }
}
